body {
    background-color: #F3F5FC;
    width: 100%;
    height: 100%;
}

.logo {
    width: 50%;
    margin: 5px;
}

.logo img {
    width: 30px;
    height: 60px;
    margin: 10px 0px 0px 42px;
}

.texto-encriptar {
    display: inline;
    vertical-align: top;
}

.texto-encriptar input {
    width: 60%;
    height: 60%;
    margin: 25px 0px 35px 205px;
    background-color: #F3F5FC;
    border: none;
    font-size: 32px;
    outline: none;
    color: #0A3871;
}

.texto-encriptar input::placeholder {
    font-size: 32px;
    color: #0A3871;
}

.texto-encriptado {
    width: 30%;
    display: inline;
}

.texto-encriptado {
    display: inline;
}

.botones {
    display: block;
    margin-left: 13%;
}

.informacion {
    display: block;
    margin: 300px 0 0 180px;
}

.informacion image {
    display: inline-block;
}

.informacion p {
    display: inline-block;
    color: #495057;
    margin: 0;
}

.botones {
    display: block;
}

.boton-encriptar {
    display: inline;
}

.boton-desencriptar {
    display: inline;
}

.botones .boton-encriptar input {
    padding: 10px 85px;
    background-color: #0A3871;
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 22px;
    margin-right: 15px;
}

.botones .boton-desencriptar input {
    padding: 10px 50px;
    background-color: #D8DFE8;
    font-size: 26px;
    color: #0A3871;
    border-radius: 22px;
}

.texto-encriptado {
    display: inline;
    margin: -80px 0px 0px 25px;
}

.texto-encriptado textarea {
    resize: none;
    position: absolute;
    width: 17%;
    height: 510px;
    margin-top: -60px;
    padding: 22px;
    font-size: 22px;
    border-radius: 22px;
    background-color: #FFFFFF;
    background-image: url(image/munieco.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: center;
    background-position-y: center;
}

/* .texto-encriptado .boton-copiar{
    position: absolute;
    top: 550px;
    left: 1180px;
} */

.texto-encriptado .textos {
    position: absolute;
    top: 420px;
    left: 76%;
}

.texto-encriptado .texto-negrito {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.texto-encriptado .texto-sencillo {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

.texto-encriptado .boton-copiar input {
    position: absolute;
    top: 530px;
    left: 1135px;
    padding: 10px 50px;
    display: none;
}