body {
    background-color: #F3F5FC;
    width: 940px;
    display: inline;
}

.logo {
    margin: 25px 0px 25px 85px;
}

.logo img {
    width: 45px;
}

.texto-encriptar {
    display: inline;
    margin: 65px 400px 0 220px;
    vertical-align: top;
}

.texto-encriptar #input-encriptar {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 32px;
    color: #0A3871;
    background-color: #F3F5FC;
}

.texto-encriptar #input-encriptar::placeholder {
    color: #0A3871;
}

.texto-encriptado {
    display: inline;
}

.texto-encriptado #input-encriptado {
    resize: none;
    position: absolute;
    top: 25px;
    width: 240px;
    height: 510px;
    padding: 25px 15px;
    font-size: 32px;
    border: none;
    border-radius: 22px;
    box-shadow: 5px 5px 30px 1px black;
    background-image: url(image/munieco.svg);
    background-repeat: no-repeat;
    background-position: 19px 163px;
    background-size: 216px;
}

#mensajes {
    display: block;
    position: absolute;
    top: 390px;
    right: 60px;
    width: 280px;
}

#mensajes .texto-negrita {
    font-size: 22px;
    font-weight: bold;
    padding: 0 23px 0 33px;
    text-align: center;
}

#mensajes .texto-simple {
    font-size: 16px;
    margin-top: 15px;
    padding: 0 0 0 23px;
    text-align: center;
}

#div-boton-copiar {
    display: none;
    position: absolute;
    bottom: 45px;
    right: 78px;
}

#boton-copiar {
    padding: 10px 75px;
    font-size: 24px;
    color: #0A3871;
    background-color: #F3F5FC;
    border: solid 1px #0A3871;
    border-radius: 22px;
}

.botones {
    display: block;
    position: absolute;
    bottom: 35px;
    margin: 25px 235px;

}

.botones .informacion {
    color: #495057;
    margin-bottom: 10px;
}

.botones .botones-acciones {
    margin: 5px 0;
}

.botones-acciones #boton-encriptar {
    background-color: #0A3871;
    color: white;
    padding: 15px 101px;
    border: 1px solid #0A3871;
    border-radius: 22px;
    margin-right: 25px;
}

.botones-acciones #boton-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    padding: 15px 101px;
    border: 1px solid #0A3871;
    border-radius: 22px;
}

/*Vista desde una tablet*/

@media screen and (max-width:1080px) {
    .logo {
        margin: 70px 55px;
    }

    .logo img {
        width: 40px;
    }

    .texto-encriptar {
        display: block;
        position: static;
        margin: 75px 85px;
    }

    .texto-encriptar #input-encriptar {
        font-size: 54px;
    }

    .texto-encriptar #input-encriptar::placeholder {
        font-size: 54px;
    }

    .texto-encriptado{
        display: block;
    }

    .texto-encriptado #input-encriptado {
        display: block;
        position: static;
        width: 40px;
        height: 40px;
        background: none;
    }
}

/*Vista desde un celular*/